# 내장함수

In [1]:
# ans *
print(abs(-3))
print(abs(-1.2))

3
1.2

In [7]:
# all *
print(all([1, 2, 3]))
print(all([11, 22, 0, 44, 55]))
print(all([]))

True
False
True

In [12]:
# any *
print(any([1, 2, 3, 0]))
print(any([0, ""]))
print(any([]))

True
False
False

In [29]:
# 아스키코드
print(chr(48))
print(chr(65))
print(chr(44032))
# 유니코드 - UTF-8(인코딩방식)
print(ord('0'))
print(ord('A'))
print(ord('가'))

0
A
가
48
65
44032

In [31]:
for i in range(65, 91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [89]:
low_case = list(range(26))
for i in range(97, 123):
    low_case[i - 97] = chr(i)
low_case.reverse()
print(low_case)

['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [75]:
for i in range(65, 68):
    for j in range(49, 59):
        if j < 58:
            print(chr(i) + chr(j))
        else:
            print(chr(i) + chr(49) + chr(48))

A1
A2
A3
A4
A5
A6
A7
A8
A9
A10
B1
B2
B3
B4
B5
B6
B7
B8
B9
B10
C1
C2
C3
C4
C5
C6
C7
C8
C9
C10

In [ ]:
positive_words = ["좋아", "행복", "멋져", "최고", "사랑해"]
negative_words = ["싫어", "화나", "짜증", "별로", "나빠"]

text = input("당신의 기분을 한 문장으로 표현해주세요.")

if any(word in text for word in positive_words):
    print("기분이 좋아보이네요")
elif any(word in text for word in positive_words):
    print("기분이 나빠보이네요")
else:
    print("보통이시네요")

In [85]:
positive_words = ["좋아", "행복", "멋져", "최고", "사랑해"]
negative_words = ["싫어", "화나", "짜증", "별로", "나빠"]

text = input("당신의 기분을 한 문장으로 표현해주세요.")

pos = [v for v in positive_words if v in text]
neg = [v for v in negative_words if v in text]
if len(pos) > len(neg):
    print("기분이 좋아보이네요")
elif len(neg) > len(pos):
    print("기분이 나빠보이네요")
else:
    print("보통이시네요")

당신의 기분을 한 문장으로 표현해주세요. 좋아 행복 싫어 화나

보통이시네요

In [96]:
positive_words = ["좋아", "행복", "멋져", "최고", "사랑해"]
negative_words = ["싫어", "화나", "짜증", "별로", "나빠"]

text = input("당신의 기분을 한 문장으로 표현해주세요.")

pnum = 0
text = text.split(" ")
for v in positive_words:
    for s in text:
        if v == s:
            pnum += 1
            print(pnum)
for i in negative_words:
    for j in text:
        if i == j:
            pnum -= 1
            print(pnum)
print(pnum)

당신의 기분을 한 문장으로 표현해주세요. 좋아 좋아서 좋아 사랑 사랑해 나빠 진짜 나빠

1
2
3
2
1
1

In [11]:
from konlpy.tag import Okt

# 좋아 좋아서 좋아요 사랑 사랑해 나빠 진짜 나빠
# 한글 형태소 분석기
okt = Okt()

positive_words = ["좋다", "행복", "멋지다", "최고", "사랑"]
negative_words = ["싫다", "화나다", "짜증", "별로", "나쁘다"]

text = input("당신의 기분을 한 문장으로 표현해주세요.")

words = okt.morphs(text, stem = True)


pnum = 0
text = text.split(" ")
for v in positive_words:
    for s in words:
        if v == s:
            pnum += 1
for i in negative_words:
    for j in words:
        if i == j:
            pnum -= 1
print(pnum)

당신의 기분을 한 문장으로 표현해주세요. 좋아 좋아서 좋아요 사랑 사랑해 나빠 진짜 나빠

3

In [1]:
print(divmod(13, 3))
print(13 // 3, 13 % 3)

(4, 1)
4 1

In [2]:
# enumerate ** 열거하다
fruit = ['apple', 'banana', 'kiwi', 'cherry', 'mango']
for i, f in enumerate(fruit, start = 1):
    print(i, '순위 과일은 :', f)

1 순위 과일은 : apple
2 순위 과일은 : banana
3 순위 과일은 : kiwi
4 순위 과일은 : cherry
5 순위 과일은 : mango

In [3]:
eval('1 + 2')

3

In [4]:
eval("'A' + '1'")

'A1'

In [6]:
def positive(x):
    result = []
    for i in x:
        if i > 0:
            result.append(i)
    return result
print(positive([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [7]:
def pos(x):
    return [i for i in x if i > 0]
print(pos([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [8]:
def positive(x):
    return x > 0
l = [1, -3, 2, 0, -5, 6]
list(filter(positive, l))

[1, 2, 6]

In [11]:
print(list(filter(lambda x : x > 0 ,l)))

[1, 2, 6]

In [12]:
# hex, oct, bin
print(hex(234))
print(oct(9))
print(bin(9))

0xea
0o11
0b1001

In [14]:
# id 고유 주솟값을 리턴
a = 3
print(id(3))
print(id(a))
b = a
print(id(b))
print(all([id(3) == id(a), id(a) == id(b), id(b) == id(3)]))

140706810561512
140706810561512
140706810561512
True

In [15]:
# input *
# input은 스트링으로 값을 전달받는다. 그러므로 계산시 int나 float으로 변경할 것

In [16]:
# int *
# 문자를 숫자로 변환, 정수로 변환, 소숫점이 사라짐

In [9]:
# isinstance(object, class) 인스턴스 확인용

class Person:
    def p(self):
        return("사람입니다.")

class Animal:pass
a = Person()
b = Person()
c = Animal()
print(a.p())
print(b.p())
print(isinstance(a, Person))
print(isinstance(b, Person))
print(isinstance(c, Person))

사람입니다.
사람입니다.
True
True
False

In [4]:
# list **

In [5]:
# map **
def two_items(nl):
    result = []
    for n in nl:
        result.append(n * 2)
    return result

result = two_items([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

In [7]:
def two_times(x):
    return x * 2

list(map(two_times, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [8]:
list(map(lambda x: x * 2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [11]:
li = [1, 2, 3, 4, 5, 6]
def odd(x):
    return x % 2 != 0
def even(x):
    return x % 2 == 0
def add(x):
    return x + 10
def mul(x):
    return x * x
def addmul(x):
    return (x + 10) * x
print(list(filter(odd, li)))
print(list(filter(even, li)))
print(list(map(add, li)))
print(list(map(mul, li)))
print(list(map(addmul, li)))

[1, 3, 5]
[2, 4, 6]
[11, 12, 13, 14, 15, 16]
[1, 4, 9, 16, 25, 36]
[11, 24, 39, 56, 75, 96]

In [13]:
# max *
max([1, 21, 3 ,14, 56, 16, 7])
# 문자일 경우 유니코드 값으로 판단
max('python')

'y'

In [14]:
# min *
min([1, 21, 3 ,14, 56, 16, 7])
# 문자일 경우 유니코드 값으로 판단
min('python')

'h'

In [15]:
# open *

In [16]:
# pow * x를 y제곱한 결과값을 리턴
print(pow(2, 5))

32

In [18]:
# range **
# 인수가 하나
print(list(range(5)))
# 인수가 2개
print(list(range(5, 10)))
# 인수가 3개
print(list(range(5, 10, 2)))
# 역순(스탭조절)
print(list(range(15, 0, -1)))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[5, 7, 9]
[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
# round * 반올림
print(round(3.45))
print(round(3.546))
print(round(3.495))
print(round(3.495, 2))
print(round(3.495, 3))

3
4
3
3.5
3.495

In [27]:
# sorted(iterable)
s0 = [3, 2, 1, 4, 6, 7]
s1 = sorted(s0)
s2 = sorted(s0, reverse = True)
print(s0)
print(s1)
print(s2)

[3, 2, 1, 4, 6, 7]
[1, 2, 3, 4, 6, 7]
[7, 6, 4, 3, 2, 1]

In [30]:
# str * 문자열로 변환
num = 23
st = str(23)
print(st, type(st))
print(num, type(num))

23 <class 'str'>
23 <class 'int'>

In [32]:
# sum * 이터러블데이터의 합을 리턴
print(sum([1, 2, 3, 4, 5]))

15

In [34]:
# tuple *
print(tuple("abc"))
print(tuple([1, 2, 3, 4, 5, 6]))
print(tuple((1, 2, 3, 4, 5, 6)))

('a', 'b', 'c')
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [35]:
# type ** 자료형 확인
type("abc")
type(1234)
type(open)

function

In [36]:
# zip ** 묶어서 리턴
fruit = ['apple', 'banana', 'kiwi', 'cherry', 'mango']
animal = ['dog', 'cat', 'elephant', 'lion', 'rabbit']
num = [11, 22, 33, 44, 55]
for f, a, n in zip(fruit, animal, num):
    print(n, ':', f, '=>', a)

11 : apple => dog
22 : banana => cat
33 : kiwi => elephant
44 : cherry => lion
55 : mango => rabbit

# 표준 라이브러리

## datetime.date

In [42]:
import datetime
day1 = datetime.date(2025, 2, 3)
day2 = datetime.date(2025, 7, 25)
diff = day2 - day1
print("전체 수업기간 :", diff.days, "일")
diff2 = day2 - datetime.datetime.now().date()
print("남은 수업기간 :", diff2.days, "일")
print("지난 수업기간 :", diff.days - diff2.days, "일")
diff.days

전체 수업기간 : 172 일
남은 수업기간 : 157 일
지난 수업기간 : 15 일

172

In [44]:
datetime.datetime.now().date()

datetime.date(2025, 2, 18)

In [57]:
days = ['월', '화', '수', '목', '금', '토', '일']
day = datetime.date(2025, 6, 9)
print("그날은 " + days[day.weekday()] + '요일입니다.')

그날은 월요일입니다.

In [65]:
import datetime
days = ['월', '화', '수', '목', '금', '토', '일']
ey, em, ed = map(int, input("수료 날짜를 연도, 월, 일로 적어주세요.").split())
cy, cm, cd = map(int,input("추석 날짜를 연도, 월, 일로 적어주세요.").split())
end = datetime.date(ey, em, ed)
chuseok = datetime.date(cy, cm, cd)
diff = chuseok - end
print("수료 후 추석까지는", diff.days, "일 남았습니다.")
print("추석은 " + days[day.weekday()] + "요일입니다.")

수료 날짜를 연도, 월, 일로 적어주세요. 2025 07 25
추석 날짜를 연도, 월, 일로 적어주세요. 2025 10 6

수료 후 추석까지는 73 일 남았습니다.
추석은 월요일입니다.

## time

In [67]:
# time.time
import time
time.time()

1739855451.3603513

In [70]:
# time.localtime
tt = time.localtime(time.time())
tt.tm_mday

18

In [71]:
# time.asctime
time.asctime(time.localtime(time.time()))

'Tue Feb 18 14:15:26 2025'

In [72]:
# time.ctime()
time.ctime()

'Tue Feb 18 14:16:37 2025'

In [74]:
# time.strftime
time.strftime('%x', time.localtime(time.time()))
time.strftime('%X', time.localtime(time.time()))
time.strftime('%c', time.localtime(time.time()))

'Tue Feb 18 14:19:07 2025'

In [78]:
# time.sleep
for i in range(1, 11):
    print(i, end='\r')
    time.sleep(1)

10

## math.gcd math.lcm

In [79]:
import math

In [85]:
print(math.pi) # pi 값
print(math.gcd(60, 100, 80)) # 최대공약수 값
print(math.lcm(15, 25)) # 최소공배수 값

3.141592653589793
20
75

## random

In [88]:
import random as r
# r.random()
print(r.random()) # 0.0에서 1.0 사이의 난수
# r.randint()
print(r.randint(1, 10))

0.04157218591506895
3

In [90]:
# r.choice()
data = [11, 22, 33, 44, 55, 66]
for i in range(6):
    print(r.choice(data), end=' ')

44 22 44 22 22 22

In [95]:
# r.sample
li = list(range(1, 21))
arr = []
for n in r.sample(li, len(li)):
    arr.append(n)
print(arr)
sarr = set(arr)
print(sarr, len(sarr))

[8, 7, 2, 14, 3, 1, 9, 13, 10, 17, 15, 6, 16, 5, 4, 19, 18, 12, 20, 11]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20} 20

In [13]:
num = 0
for i in range(1, 1000):
    if i % 3 == 0 or i % 5 == 0:
        num += i
print(num)

233168

In [14]:
num = 0
for i in range(1, 1000):
    if i % 3 == 0:
        num += i
    elif i % 5 == 0:
        num += i
    elif i % 15 == 0:
        num -= i
print(num)

233168

In [7]:
def get_total_page(m, n):
    return (m // n) + 1
print(get_total_page(5, 10))
print(get_total_page(15, 10))
print(get_total_page(25, 10))
print(get_total_page(35, 10))

1
2
3
4

In [ ]:
def get_total_page(m, n):
    if m % n == 0:
        return m / n
    else:
        return m // n + 1
print(get_total_page(5, 10))
print(get_total_page(15, 10))
print(get_total_page(25, 10))
print(get_total_page(35, 10))