In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from matplotlib import rc

file_path = './ref/출입국_제주.csv'
ori = pd.read_csv(file_path, encoding = 'EUC-KR')
ori

   출입국항별 내외국인별  성별    시점   항목   데이터
0     제주   내국인  남자  2018  입국자   575
1     제주   내국인  남자  2019  입국자   545
2     제주   내국인  남자  2020  입국자   445
3     제주   내국인  남자  2021  입국자     1
4     제주   내국인  남자  2022  입국자   116
5     제주   내국인  남자  2023  입국자   176
6     제주   내국인  여자  2018  입국자   773
7     제주   내국인  여자  2019  입국자   726
8     제주   내국인  여자  2020  입국자   543
9     제주   내국인  여자  2021  입국자     0
10    제주   내국인  여자  2022  입국자    35
11    제주   내국인  여자  2023  입국자   213
12    제주   외국인  남자  2018  입국자  7253
13    제주   외국인  남자  2019  입국자  5104
14    제주   외국인  남자  2020  입국자   636
15    제주   외국인  남자  2021  입국자     0
16    제주   외국인  남자  2022  입국자   314
17    제주   외국인  남자  2023  입국자  4305
18    제주   외국인  여자  2018  입국자  6167
19    제주   외국인  여자  2019  입국자  5599
20    제주   외국인  여자  2020  입국자   688
21    제주   외국인  여자  2021  입국자     0
22    제주   외국인  여자  2022  입국자   422
23    제주   외국인  여자  2023  입국자  3709

In [3]:
data = ori.copy()
data.columns = ['Airport', 'type1', 'gender', 'year', 'type2', 'value']
data

   Airport type1 gender  year type2  value
0       제주   내국인     남자  2018   입국자    575
1       제주   내국인     남자  2019   입국자    545
2       제주   내국인     남자  2020   입국자    445
3       제주   내국인     남자  2021   입국자      1
4       제주   내국인     남자  2022   입국자    116
5       제주   내국인     남자  2023   입국자    176
6       제주   내국인     여자  2018   입국자    773
7       제주   내국인     여자  2019   입국자    726
8       제주   내국인     여자  2020   입국자    543
9       제주   내국인     여자  2021   입국자      0
10      제주   내국인     여자  2022   입국자     35
11      제주   내국인     여자  2023   입국자    213
12      제주   외국인     남자  2018   입국자   7253
13      제주   외국인     남자  2019   입국자   5104
14      제주   외국인     남자  2020   입국자    636
15      제주   외국인     남자  2021   입국자      0
16      제주   외국인     남자  2022   입국자    314
17      제주   외국인     남자  2023   입국자   4305
18      제주   외국인     여자  2018   입국자   6167
19      제주   외국인     여자  2019   입국자   5599
20      제주   외국인     여자  2020   입국자    688
21      제주   외국인     여자  2021   입국자      0
22      제주   외국인     여자  2022   입국자    422
23      제주   외국인     여자  2023   입국자   3709

In [5]:
filter1 = data['type1'] == '내국인'
ex1_data = data[filter1].copy()
ex1_data

   Airport type1 gender  year type2  value
0       제주   내국인     남자  2018   입국자    575
1       제주   내국인     남자  2019   입국자    545
2       제주   내국인     남자  2020   입국자    445
3       제주   내국인     남자  2021   입국자      1
4       제주   내국인     남자  2022   입국자    116
5       제주   내국인     남자  2023   입국자    176
6       제주   내국인     여자  2018   입국자    773
7       제주   내국인     여자  2019   입국자    726
8       제주   내국인     여자  2020   입국자    543
9       제주   내국인     여자  2021   입국자      0
10      제주   내국인     여자  2022   입국자     35
11      제주   내국인     여자  2023   입국자    213